<link rel="stylesheet" href="/css/admin.css">

<div id = "login-container">
    <div id = "heading">
        
            <h1> <i class="fas fa-sign-in-alt"></i>  Login</h1>
        
        

    </div>
    
    <div id = "login-type">
        <button type="button" class="btn btn-secondary" id = "login-pass-btn">Login using password</button>
        <button type="button" class="btn btn-secondary" id = "login-otp-btn">login using otp</button>
    </div>

    <div id = "login-form" >
        <form action="/admin/sign-in" method="post" id = "pass-form">
            <input type="email" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder = "Password" required>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>


    <div id="login-form">
        <form action="/admin/verify" method="post" id = "otp-form">
            <input type="email" name="username" id = 'user' required placeholder="Email">
            
            <input type="button" class="btn btn-primary" id = "otp-btn" value="Send Otp"    >
        </form>
    </div>
</div>

<script src="/js/loginType.js"></script>
<script src="/js/otp.js"></script>