<link rel="stylesheet" href="/css/home.css">
<div  id = "main-content" style="height: auto;">
    <h1 >
        <span >
            Easy online quiz maker: Amazing quizzes in minutes
        </span>
    </h1>
    <a id="create-link" class="btn btn-dark" href="/test">Create your quiz</a>
    <p>Quizzes are a powerful tool for engagement, and wildly underrated for bringing in more customers. Take yours to the next level with Quizo.</p>
</div>