<link rel="stylesheet" href="/css/start_exam.css">
<div id = "user-detail">
    <h1>Enter Information</h1>
    <form action="/test/start-exam/<%= test_id %>" id = "user-detail-form">
        <input type="text" name="name" id="" placeholder=" Enter Name " required><br>
        <input type="email" name="email" id="" placeholder="Enter Email" required><br>
        <input type="submit" class = "btn btn-primary" value="Start Exam" >
    </form>
</div>

