
<form action="/test/start-exam/<%= test_id %>" id = "user-detail-form">
    <input type="text" name="name" id="">
    <input type="email" name="email" id="">
    <input type="submit" value="Start Exam" >
</form>
