body{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#user-detail{
    
    position: relative;
    top: 25vh;
    left: 25vw;
    background-color: white;
    width: 50vw;
    text-align: center;
}

#user-detail form {
    margin-top:50px ;
}
#user-detail form input{
    margin: 10px;
    border: 0px;
    border-bottom: 1px solid black;
}
@media screen and (max-width: 600px) {
    #user-detail{
    
        
        top: 25vh;
        left: 0vw;
        background-color: white;
        width: 100vw;
        text-align: center;
    }
}